<main>
  <form class="form-box">
    <a (click)="showForm('cadastro')" class="btn-cadastro form-switch">Login</a>
    <a (click)="showForm('login')" class="btn-login form-switch">Cadastro</a>

    <div class="form-slider" [ngStyle]="getPosition()">
      <div class="form-slider-inner" [ngClass]="{ 'slide-cadastro': !showLogin }">
        <app-form-cadastro (enderecoToggle)="toggleEndereco()" (telefoneToggle)="toggleTelefone()"
          [endereco]="dadosEndereco" [telefone]="dadosTelefone" [enderecoPreenchido]="enderecoPreenchido"
          [telefonePreenchido]="telefonePreenchido"></app-form-cadastro>
        <app-form-login></app-form-login>
      </div>
    </div>
  </form>

  <div class="form-endereco" *ngIf="showEndereco">
    <a (click)="closeEndereco()"></a>
    <app-form-endereco *ngIf="showEndereco" (closeEnderecoEmitter)="toggleEndereco()"
      (enderecoSalvo)="receberEndereco($event)"></app-form-endereco>
  </div>
  <div class="form-telefone" *ngIf="showTelefone">
    <a (click)="closeTelefone()"></a>
    <app-form-telefone *ngIf="showTelefone" (closeTelefoneEmitter)="toggleTelefone()"
      (telefoneSalvo)="receberTelefone($event)"></app-form-telefone>
  </div>
</main>