<main>
    <form class="form-telefone" (ngSubmit)="salvarTelefone()" name="telefoneForm" #telefoneForm="ngForm">
        <button type="button" (click)="sair()" class="btn-sair">x</button>

        <h2 class="form-titulo">Telefone</h2>

        <div class="form-inputs">
            <app-input-component type="text" name="telefone" placeholder="(12) 34567-8901" label="Telefone"
                [(ngModel)]="telefoneNum"></app-input-component>

            <app-dropdown (tipoSelecionado)="selecionar($event)"></app-dropdown>
        </div>

        <button type="submit" class="btn-salvar">Salvar</button>
    </form>
</main>