<form (ngSubmit)="register()" class="form-layout">
    <div class="form-header">
        <h2>Cadastro</h2>
    </div>

    <div class="forms-container">
        <app-input-component type="text" placeholder="Digite seu nome" name="nome" label="Nome" [(ngModel)]="nome"
            [required]="true">
        </app-input-component>

        <app-input-component type="email" placeholder="usuario@user.com" name="email" label="Email" [(ngModel)]="email"
            [required]="true">
        </app-input-component>

        <app-input-component type="password" placeholder="Digite sua senha" name="senha" label="Senha"
            [(ngModel)]="senha" [required]="true">
        </app-input-component>

        <app-input-component type="password" placeholder="Repita sua senha" name="senhaC" label="Confirme sua senha"
            [(ngModel)]="confirmarSenha" [required]="true">
        </app-input-component>


        <div class="form-add">
            <a class="btn-endereco" [ngClass]="{ preenchido: enderecoPreenchido }" (click)="mostrarEndereco()">
                Adicionar Endereço
            </a>
            <a class="btn-telefone" [ngClass]="{ preenchido: telefonePreenchido }" (click)="mostrarTelefone()">
                Adicionar Telefone
            </a>
        </div>

        <div class="label-erro" *ngIf="senha !== confirmarSenha && confirmarSenha">
            <p>As senhas não coincidem.</p>
        </div>
    </div>

    <div class="forms-buttons">
        <button type="submit" class="btn-form" [disabled]="senha !== confirmarSenha">Cadastrar</button>
    </div>
</form>