<form class="form-layout">
    <div class="form-header">
        <h2>Cadastro</h2>
    </div>

    <div class="forms-container">
        <app-input-component type="text" placeholder="Digite seu nome" name="nome" label="Nome" [required]="true">
        </app-input-component>

        <app-input-component type="email" placeholder="usuario@user.com" name="email" label="Email" [required]="true">
        </app-input-component>

        <app-input-component type="password" placeholder="Digite sua senha" name="senha" label="Senha"
            [required]="true">
        </app-input-component>

        <app-input-component type="password" placeholder="Repita sua senha" name="senhaC" label="Confirme sua senha"
            [required]="true">
        </app-input-component>

        <div class="form-add">
            <a class="btn-endereco" (click)="mostrarEndereco()">
                Adicionar Endereço
            </a>
            <a class="btn-telefone">
                Adicionar Telefone
            </a>
        </div>
    </div>

    <div class="forms-buttons">
        <button type="submit" class="btn-form">Cadastrar</button>
    </div>
</form>