<form (ngSubmit)="onSubmit()" class="form-layout">
    <div class="form-header">
        <h2>Login</h2>
    </div>

    <div class="forms-container">
        <app-input-component 
            type="email" 
            placeholder="usuario@user.com" 
            name="email" 
            label="Email" 
            [required]="true">
        </app-input-component>

        <app-input-component 
            type="password" 
            placeholder="Digite sua senha" 
            name="password" 
            label="Senha"
            [required]="true" >
        </app-input-component>
    </div>

    <div class="forms-buttons">
        <button type="submit" class="btn-form">Entrar</button>
    </div>
</form>